{
    "presets": [
        ["@babel/preset-env", {
            "modules": false,
            "targets": {
                "browsers":  ["> 1%", "last 5 versions"]
            }
        }]
    ],
    "plugins": [
        ["@babel/plugin-proposal-class-properties"],
        ["@babel/plugin-proposal-decorators", {"legacy": true}],
        ["@babel/plugin-transform-runtime", {
        "corejs": false,
        "helpers": true,
        "regenerator": true
        }],
        "@babel/plugin-proposal-private-methods"
    ]
}